<div class="form-group form-inline form-wrapper">
  <%= label_tag(:q, "Your short url is:", class: 'mr-2 font-weight-bold') %>
  <%= text_field_tag(:q, nil, readonly: true, class: 'form-control', value: short_url(@shorten)) %>
</div>
<hr>
<%= render 'form' %>
