<div class="top-element-wrapper">
  <span class="mr-2 font-weight-bold">Your short url is:</span>
  <span class="short-url"><%=short_url(@shorten)%></span>
  <i class="fa ml-1 fa-icon fa-copy"></i>
</div>
<hr>
<%= render 'form' %>
